.head-block {
    .head-shop {
        width: 100%;
        height: 330px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .Head-Seach {
        width: 98%;
        height: 40px;
        background-color: rgb(245, 248, 253);
        margin-top: 70px;
        padding-left: 20px;
    }
}

.Content {
    padding-top: 110px;
    width: 100%;
    height: 950px;
    background-color: rgb(245, 248, 253);
    display: flex;
    justify-content: space-evenly;

    .Content-right {
        width: 850px;
        height: 750px;
        background-color: #ffffff;

        .Content-right-1 {
            height: 25px;
            padding: 25px 25px;
        }

        .Content-right-h3 {
            font-size: 22px;
            padding-top: 25px;
        }

        .Content-right-2 {
            height: 50px;
            padding: 25px 100px;
        }

        .Content-right-p {
            margin: 10px 0px;
        }

        .Content-right-3 {
            height: 850px;
        }

        .Content-right-p-1 {
            max-width: 832px;
            padding-left: 20px;
        }
    }

    .Content-left {
        width: 270px;
        height: 335px;
        background-color: #ffffff;

        .Content-left-font {
            padding: 15px 0px 15px 15px;
            border-bottom: 1px solid #e1e1e1;
        }

        .Content-left-font-1 {
            padding: 15px 0px 15px 15px;
            border-bottom: 1px dashed #e1e1e1;

            p {
                font-size: 17px;
            }
        }

        .Content-left-font-2 {
            padding: 15px 0px 15px 15px;
            border-bottom: 1px dashed #e1e1e1;

            p {
                font-size: 17px;
            }
        }

        .Content-left-font-3 {
            padding: 15px 0px 15px 15px;
            border-bottom: 1px dashed #e1e1e1;

            p {
                font-size: 17px;
            }
        }

        .Content-left-font-4 {
            padding: 15px 0px 15px 15px;
            border-bottom: 1px dashed #e1e1e1;

            p {
                font-size: 17px;
            }
        }

        .Content-left-font-5 {
            padding: 15px 0px 15px 15px;

            p {
                font-size: 17px;
            }
        }

        .Content-left-img {
            width: 270px;
            height: 155px;
            padding-top: 35px;
        }
    }
}

.Homeinterface-Header {
    height: 50px;
    display: flex;
    justify-content: space-evenly;

    .Homeinterface-Header-Seach {
        width: 410px;
        height: 50px;
        padding-top: 4.5px;

        &::placeholder {
            color: #333333;
            font-size: 16px;
        }

        .fa-magnifying-glass {
            color: #333333;
            width: 35px;
            font-size: 18px;
        }

        .Banner_Seach_Text {
            height: 45px;
            width: 87%;
            background-color: none;
            display: flex;
            padding-left: 85px;

            input {
                height: 45px;
                width: 500%;
                border: none;
                padding-left: 25px;
                flex: 1;
                background-color: #f1f1f1;
            }

            .Banner_Seach_Icon {
                float: right;
                width: 28%;
                height: 45px;
                line-height: 50px;
                text-align: center;
                background-color: #f1f1f1;
            }
        }
    }
}

.Head-Footer-Email {
    padding-top: 13px;
    padding-left: 15px;
    padding-right: 45px;
    padding-top: 1.5rem;
}

#navbar {
    display: flex;
}
.imgg{
    width: 270px;
    height: 155px;
}